# Disable the automatic menu displaying on every environment reload.
# export DEVSHELL_NO_MOTD=1
subflake="nix"
watch_file flakes.nix flake.lock
watch_file ./nix/rust.nix
# shellcheck disable=SC1090
source "$(fetchurl "https://raw.githubusercontent.com/gtrunsec/direnv/main/lib" "sha256-9a72dt5WIpAxKDqcREBg9qu5303j8ceQ5ggg0GKOBuQ=")"

use envreload //automation/devshells/default
